INTERNAL_WEB_PORT=4010
INTERNAL_API_PORT=4011

DATABASE_URL=postgresql://user:password@host:5432/dbname?schema=public
REDIS_URL=redis://redis:6379
JWT_SECRET=change_me_very_long_random_string
GOOGLE_CLIENT_ID=replace_me
ADMIN_EMAIL_WHITELIST=admin@company.com

CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
