# Root
NODE_ENV=development

# Admin bootstrap emails, comma separated
ADMIN_EMAIL_WHITELIST=admin@company.com

# API
API_PORT=4000
API_CORS_ORIGIN=http://localhost:3000
JWT_SECRET=replace_me
GOOGLE_CLIENT_ID=replace_me

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/internal_threads?schema=public

# Cloudinary
CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace_me
