NODE_ENV=development
API_PORT=4000
API_CORS_ORIGIN=http://localhost:3000
JWT_SECRET=replace_me
GOOGLE_CLIENT_ID=replace_me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/internal_threads?schema=public
REDIS_URL=redis://localhost:6379
ADMIN_EMAIL_WHITELIST=admin@company.com
CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
